@tailwind base;

body {
  @apply font-sans antialiased;
}

body.ReactModal__Body--open > div[aria-hidden="true"] {
  filter: blur(10px);
}

@tailwind components;

@tailwind utilities;

.grayscale-1 {
  filter: grayscale(1);
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.c-box-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3rem;
}

.c-img {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 80px;
}
.soklink {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 0 10px 10px 10px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.soklink:hover {
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.csok {
  min-height: 1000px;
}
.sok {
  padding: 40px 0;
  text-align: center;
}
.sokMsg {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.form-input {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 60px;
  border: none;
  padding: 0 10px;
  box-shadow: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}
.form-input.smooth-corner {
  border-radius: 2px;
}
.form-input.spread-shadow {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.form-input.spread-shadow:focus {
  background: #fff;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
}
.filterc0 {
  z-index: 9001;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.filterc1 {
  z-index: 9000;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.filterc2 {
  z-index: 901;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.filterc3 {
  z-index: 900;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.filterc4 {
  z-index: 91;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.filterc5 {
  z-index: 90;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.select__option {
  color: #000;
}
